<header th:fragment="title-menu">
    <a href="/"><img class="img-responsive" style="width:1600px; max-width:100%;"
                     src="/images/akoBET.jpg"/></a>
</header>

<block th:fragment="logout">
        <h3 class="name" th:text="#{akobet.home.logout}"></h3>
        <p class="description" th:text="#{akobet.home.logout.description}"></p>

        <form id="logout" th:action="@{/logout}" method="post">
    </form>
    <button type="button" class="btn btn-primary"><a href="#" onclick="document.getElementById('logout').submit()"
                                                     style="color:#fff" th:text="#{akobet.home.logout}"></a></button>
</block>