<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>akoBet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/Features-Boxed.css"/>
    <link rel="stylesheet" href="/css/Login-Form.css"/>
    <link rel="stylesheet" href="/css/Footer-Dark.css"/>
    <link rel="stylesheet" href="/css/Registration-Form.css"/>
    <link rel="stylesheet" href="/css/Article-List.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora"/>
    <link rel="stylesheet" href="/css/Article.css"/>
</head>

<th:block th:fragment="footer">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <p class="copyright">akoBET© 2017</p>
            </div>
            <ul style="float:right; margin-right:20px;">
                <responsive-row><a th:href="@{__${#httpServletRequest.requestURI}__?lang=pl}"><img class="img"
                                                                                                   src="/images/pl.png"/></a>
                    <a th:href="@{__${#httpServletRequest.requestURI}__?lang=en}"><img class="img"
                                                                                       src="/images/en.png"/></a>
                </responsive-row>
            </ul>
        </footer>
    </div>
</th:block>


<th:block th:fragment="scripts">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
</th:block>