<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/imports :: head"/>
<body>

<header id="header" th:include="commons/elements :: title-menu"/>
<nav id="nav" th:include="commons/elements :: main-menu"/>


<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2 th:text="#{akobet.admin.add}"></h2>
        </header>

        <div class="container" style="width:500px;">
            <form action="#" th:action="@{/admin/add}" th:object="${administrator}"
                  method="post">
                <table>
                    <tr>
                        <td th:text="#{akobet.admin.add.name}"></td>
                        <td><input type="text" th:field="*{username}"/></td>
                        <td th:if="${#fields.hasErrors('username')}"
                            th:errors="*{username}">login Error
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{akobet.login.password}"></td>
                        <td><input type="password" th:field="*{password1}"/></td>
                        <td th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">Password error</td>
                    </tr>
                    <tr>
                        <td th:text="#{akobet.login.repeat}"></td>
                        <td><input type="password" th:field="*{password2}"/></td>
                        <td th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Password error</td>
                    </tr>
                    <tr>
                        <td th:text="#{akobet.login.email}"></td>
                        <td><input type="email" th:field="*{email}"/></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                            Error
                        </td>
                    </tr>
                </table>
                <div style="text-align:center; margin:auto;">
                    <button type="submit" th:text="#{akobet.register}"></button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>