<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="commons/imports :: head"/>
<body class="landing">

<header th:include="commons/elements :: title-menu"/>
<div th:include="commons/elements :: security"/>
<nav id="nav" th:include="commons/elements :: main-menu"/>

<section id="banner">
    <h2>
        <span th:text="#{akobet.home.welcome} + ${name} + '!'" th:remove="tag">&nbsp;</span>
    </h2>
    <p th:text="#{akobet.home.description}"/>
    <ul class="actions">
        <li><a href="/login" class="button big special" th:text="#{akobet.home.login}"></a></li>
        <li><a href="/signup" class="button big alternate" th:text="#{akobet.home.register}"></a></li>
    </ul>
</section>


<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>