<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="commons/imports :: head"/>
<body>

<header th:include="commons/elements :: title-menu"/>


<div class="features-boxed">
    <div class="container-fluid">
        <div class="intro">
            <h2 class="text-center" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{akobet.menu.admin}"/>
            <h2 class="text-center" sec:authorize="!hasRole('ROLE_ADMIN')" th:text="#{akobet.title}"/>
            <p class="text-center" sec:authorize="!hasRole('ROLE_ADMIN')" th:text="#{akobet.home.description}"/>
        </div>
        <div class="row features">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_USER')">
                <div class="box"><i class="fa fa-info icon"></i>
                    <h3 class="name"><span th:text="#{akobet.home.welcome} + ${name} + '!'"
                                           th:remove="tag">&nbsp;</span></h3>
                    <p class="description" th:text="#{akobet.menu.profil.description}"></p><a href="/profil"
                                                                                              class="learn-more"
                                                                                              th:text="#{akobet.menu.profil.go}"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_USER')">
                <div class="box"><i class="fa fa-check icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.tips}"></h3>
                    <p class="description" th:text="#{akobet.menu.tips.description}"></p><a href="/bet"
                                                                                            class="learn-more"
                                                                                            th:text="#{akobet.menu.tips.go}"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_USER')">
                <div class="box"><i class="fa fa-bar-chart icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.stats}"></h3>
                    <p class="description" th:text="#{akobet.menu.stats.description}"></p><a href="/stats"
                                                                                             class="learn-more"
                                                                                             th:text="#{akobet.menu.stats.go}"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.map}"></h3>
                    <p class="description" th:text="#{akobet.menu.map.description}"></p><a href="/map"
                                                                                           class="learn-more"
                                                                                           th:text="#{akobet.menu.map.go}"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-newspaper-o icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.news}"></h3>
                    <p class="description" th:text="#{akobet.menu.news.description}"></p><a href="/news"
                                                                                            class="learn-more"
                                                                                            th:text="#{akobet.menu.news.go}"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-male icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.admin.users}"></h3>
                    <p class="description" th:text="#{akobet.menu.admin.users.description}"></p><a href="/admin/add"
                                                                                                   class="learn-more"
                                                                                                   th:text="#{akobet.menu.admin.add}"></a>&nbsp;&nbsp;
                    <a
                            href="/admin/usersList"
                            class="learn-more"
                            th:text="#{akobet.menu.admin.manage}"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-newspaper-o icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.news}"></h3>
                    <p class="description" th:text="#{akobet.menu.admin.news.description}"></p><a href="/admin/news/add"
                                                                                                  class="learn-more"
                                                                                                  th:text="#{akobet.menu.admin.add}"></a>&nbsp;&nbsp;
                    <a
                            href="/admin/news/manage"
                            class="learn-more"
                            th:text="#{akobet.menu.admin.manage}"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-plus icon"></i>
                    <h3 class="name" th:text="#{akobet.menu.admin.competition}"></h3>
                    <p class="description" th:text="#{akobet.menu.admin.competition.description}"></p>
                    <a
                            href="/admin/addLeague"
                            class="learn-more"
                            th:text="#{akobet.admin.addLeague}"></a>&nbsp;
                    <a
                            href="/admin/addMatches"
                            class="learn-more"
                            th:text="#{akobet.admin.addMatches}"></a>&nbsp;
                    <a
                            href="/admin/addResults"
                            class="learn-more"
                            th:text="#{akobet.admin.addResults}"></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="!isAuthenticated()">
                <div class="box"><i class="fa fa-sign-in icon"></i>
                    <h3 class="name" th:text="#{akobet.home.login}"></h3>
                    <p class="description" th:text="#{akobet.home.login.description}"></p><a href="/login"
                                                                                             class="learn-more"
                                                                                             th:text="#{akobet.home.login}"></a>&nbsp;&nbsp;
                    <a
                            href="/signup"
                            class="learn-more"
                            th:text="#{akobet.home.register}"></a>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_USER')">
                <div class="box"><i class="fa fa-sign-out icon"></i>
                    <div th:include="commons/elements :: logout"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="box"><i class="fa fa-sign-out icon"></i>
                    <div th:include="commons/elements :: logout"/>
                </div>
            </div>

        </div>
    </div>
</div>


<footer th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>