<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/imports :: head"/>
<body>

<header id="header" th:include="commons/elements :: title-menu"/>
<nav id="nav" th:include="commons/elements :: main-menu"/>

<section id="main" class="wrapper">
    <header class="major special">
        <h2>Log In</h2>
    </header>
    <div class="container" style="width:250px;">
        <div th:if="${param.error}" class="alert-danger">Invalid username and password.</div>
        <form th:action="@{/login}" method="post">
            <div>
                <label> User Name : <input type="text" name="username"/>
                </label>
            </div>
            <div>
                <label> Password: <input type="password" name="password"/>
                </label>
            </div>
            <div style="text-align:center; margin:auto;">
                <input type="submit" value="Sign In"/>
            </div>
        </form>
    </div>
</section>
<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>