<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      ng-app="ionic.example">
<head th:fragment="head">
    <title>akoBET</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/map.css"/>
    <link rel="stylesheet" href="//code.ionicframework.com/nightly/css/ionic.css"/>
</head>
<body ng-controller="MapCtrl">

<header id="header" th:include="commons/elements :: title-menu"/>
<div th:include="commons/elements :: security"/>
<nav id="nav" th:include="commons/elements :: main-menu"/>


<div class="container">


    <ion-header-bar class="bar-dark">
        <h1 class="title" th:text="#{akobet.menu.map}"></h1>
    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate" th:text="#{akobet.map.find}"></a>
    </ion-footer-bar>


</div>


<footer id="footer" th:include="commons/imports :: footer"/>

<script src="//maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script src="https://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<script src="js/map.js"></script>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>