<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="commons/imports :: head"/>
<body style="background-color: #eee">

<header id="header" th:include="commons/elements :: title-menu"/>

<div class="jumbotron" style="text-align:center">
    <h3>
            <span th:text="#{${message}}" th:remove="tag">&nbsp;</span>
    </h3>
    <a href="/" class="button small special" th:text="#{akobet.home.go}"></a>
    </div>

<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>