<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/imports :: head"/>
<body>

<header id="header" th:include="commons/elements :: title-menu"/>
<nav id="nav" th:include="commons/elements :: main-menu"/>


<section id="main" class="wrapper">
    <div class="container">
        <h1>
            <span th:text="${message}" th:remove="tag">&nbsp;</span>
        </h1>
        <ul class="actions">
            <!-- todo: subset if logged in etc. -->
            <li><a href="/login" class="button small special">Sign In</a></li>
            <li><a href="/signup" class="button small alt">New User</a></li>
            <li><a href="/profil" class="button small">User Home</a></li>
        </ul>
    </div>
</section>

<div th:include="commons/loginInfo :: security"/>
<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>