<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="commons/imports :: head"/>
<body style="background-color: #eee">

<header id="header" th:include="commons/elements :: title-menu"/>

<div class="jumbotron" style="text-align:center; padding:100px;">
    <h3 style="padding-top:20px; padding-bottom:50px;">
            <span th:text="#{${message}}" th:remove="tag">&nbsp;</span>
    </h3>
    <button type="button" class="btn btn-primary"><a th:href="${link}" class="button small special" style="color:#fff"
                                                     th:text="#{${linkMessage}}"></a></button>
    </div>

<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>