<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="commons/imports :: head"/>

<body ng-app="PlayersApp" ng-controller="PlayersCtrl">
<script th:inline="javascript">
    var id = [[${league.id}]];
    var cap = [[${league.capacity}]];
    var busy = [[${league.busyPlaces}]]
</script>
<header id="header" th:include="commons/elements :: title-menu"/>

<div class="container">
    <div class="intro" style="padding:40px;">
        <h2 class="text-center" th:text="${league.name}"></h2>
    </div>
    <div class="table-responsive" ng-show="players.length > 0">
        <table class="table table-striped">
            <thead style="background: #1485ee">
            <tr>
                <th th:text="#{akobet.league.place}"></th>
                <th th:text="#{akobet.login.username}"></th>
                <th th:text="#{akobet.league.matches}"></th>
                <th th:text="#{akobet.league.points}"></th>
            </tr>
            </thead>
            <tbody ng-repeat="player in players">
            <tr>
                <td>{{$index+1}}</td>
                <td><a href="/profil/{{player.id}}" style="color:black;">{{player.name}}</a></td>
                <td>{{player.matches}}</td>
                <td>{{player.points}}</td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
    <div ng-show="players.length == 0" style="text-align:center; padding-top:30px; padding-bottom:150px;"
         th:text="#{akobet.league.noPlayers}"></div>
</div>

<div class="container" ng-show="busyPlaces==fullPlaces" style="padding:20px;">
    <select class="input-lg" ng-model="selectedRound">
        <option value="" style="display:none" th:text="#{akobet.league.selectRound}"></option>
        <option ng-repeat="round in rounds" value="{{round}}"><span th:text="#{akobet.league.round}"></span> {{round}}
        </option>
    </select>
    <div style="padding:20px;">
        <ul class="list-group" ng-repeat="duel in allDuels" ng-if="duel.round == selectedRound">
            <li class="list-group-item">{{duel.player1}}&nbsp;-&nbsp;{{duel.player2}}&nbsp;<span ng-if="duel.score1">{{duel.score1}}:{{duel.score2}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="text">
    <div style="padding-bottom:15px; text-align:center">
        <i class="fa fa-arrow-left icon"></i> <a href="/leagues" th:text="#{akobet.league.back}"></a>
    </div>
</div>


<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
<script src="/js/players.js"></script>
<link rel="stylesheet" href="/css/style.css"/>
</body>
</html>