<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:include="commons/imports :: head"/>
<body>

<header id="header" th:include="commons/elements :: title-menu"/>

<div class="background">
    <div class="profil">
<div class="intro" style="padding-bottom:20px;">
    <h2 class="text-center" th:inline="text">[[#{akobet.user.profil}]][[${user.username}]]</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <ul class="list-unstyled fa-ul" th:object="${user}">
                    <span class="text-muted"><p><i class="fa fa-user fa-fw"></i> <span
                            th:text="*{username}"></span></p></span>
                    <span class="text-muted"><p><i class="fa fa-envelope fa-fw"></i> <span
                            th:text="*{email}"></span> </p></span>
                    <span class="text-muted"><p><i class="fa fa-table fa-fw"></i> <span th:text="${league}"></span></p></span>
                    <span class="text-muted"><p><i class="fa fa-star fa-fw"></i> <span
                            th:text="*{favoriteClub}"></span></p></span>
                    <span class="text-muted"><p><i class="fa fa-calendar fa-fw"></i> <span
                            th:text="*{createdDate}"></span></p></span>
                </ul>
            </div>
        </div>
        <div style="padding-top:15px; margin-left:20px;">
            <small th:inline="text">[[#{akobet.user.profil.stats}]][[${user.typesCorrect}]]/[[${user.typesFull}]]
            </small>
            <div class="progress progress-high" style="width:250px;">
                <div class="progress-bar progress-bar-primary" style="width: 90%; font-size:9px; font-weight:600;"
                     th:text="${stats}"></div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<footer id="footer" th:include="commons/imports :: footer"/>
<th:block th:include="commons/imports :: scripts"/>
</body>
</html>